<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />-->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!--<packageSource key="dotnet9">
      <package pattern="Microsoft.NET.ILLink.Tasks" />
      <package pattern="Microsoft.NETCore.App.Runtime.Mono.browser-wasm" />
    </packageSource>-->
  </packageSourceMapping>
</configuration>
