@inject МашинаКиїв Машина

<span title="@Конвертер.ДоДвойноїТочності(Машина.Память[Адреса])">@ПарсерКоманд.Сконвертувати(Машина.Память[Адреса])</span>

@code {
    [Parameter]
    public int Адреса { get; set; }
}