@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <НавМеню />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://yushchenko.infoua.net/publikaciyi.html" target="_blank">Про розробника ЕОМ</a>
            <a href="https://files.infoua.net/yushchenko/Vychislitelnaya-mashyna-Kiev_VHlushkov_EYushchenko_1962.pdf" target="_blank">Про ЕОМ</a>
            <a href="https://kant2002.github.io/" target="_blank">Про мене</a>
            <a href="https://github.com/kant2002/KyivMachine" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
