@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <НавМеню />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Про проект
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
