@page "/abi"
<h3>ABI</h3>

<p>
    Рахувальна машина "Київ" має наступні конвенції для виклику вбудованих підпрограм
</p>

<p>
    Ячейка 2 - вхідний параметр (<code>парам</code>)
</p>

<p>
    Ячейка 3 - вихідний параметр із результатом (<code>рез</code>)
</p>

<p>
    Ячейка 4 - зберігає тимчасові значення під час роботи підпрограми, інколи використовуєтсья для вхідних параметрів (<code>тимч1</code>)
</p>

<p>
    Ячейка 5 - зберігає тимчасові значення під час роботи підпрограми (<code>тимч2</code>)
</p>

<p>
    Ячейка 6 - зберігає тимчасові значення під час роботи підпрограми (<code>тимч3</code>)
</p>

<h3>Регістри</h3>

<p>
    С - Регістр лічільник, показує адресу пам'яти із якої буде виконуватися команда.
</p>

<p>
    К - показує поточну команду, яка буде виконуватися у наступний такт.
</p>

<p>
    А - модифікатор адреси/акумулятор. Цей модіфікатор додається до усіх неявних адрес, які мають встановлений флаг `4000`
</p>

<p>
    Ц - Максимальне значенні ітерацій циклу. Вихід із циклу проходить коли `Ц == А`
</p>

<p>
    Р - регістр повертання. Містить адресу на яку буде повертатися код після завершення підпрограми
</p>


@code {

}
