@page "/disassembler"

<НазваСторінки>Дізасемблер</НазваСторінки>

<h1>Дізасемблер</h1>

<InputTextArea @bind-Value="Команда" rows="20" />
<pre>
    @ДізасембльованаКоманда
</pre>

@code {

    public string Команда { get; set; } = "";

    public string ДізасембльованаКоманда
    {
        get => global::Kyiv.Дізасемблер.Дізасемблювати(Команда);
    }
}
