@page "/constants"
@using System.Globalization

<НазваСторінки>@Ресурси.СторінкаКонстанти</НазваСторінки>
<h3>@Ресурси.СторінкаКонстанти</h3>

@if (CultureInfo.CurrentUICulture.Name == "uk-UA")
{
    <p>
        Рахувальна машина "Київ" має наступні константи у постійній пам'яті
    </p>
}
else
{
    <p>
        The "Kyiv" calculation machine has the following constants in permanent memory:
    </p>    
}
<table class="table table-sm">
    <thead>
        <tr>
            <td>@Ресурси.МіткаЯчейка</td>
            <td>@Ресурси.МіткаЗначення</td>
            <td>@Ресурси.МіткаМнемоніка</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3010</td>
            <td>2^-16</td>
            <td>ДваУМінус16Ступіні</td>
        </tr>
        <tr>
            <td>3011</td>
            <td>2^-28</td>
            <td>ДваУМінус28Ступіні</td>
        </tr>
        <tr>
            <td>3012</td>
            <td>2^-40</td>
            <td>ДваУМінус40Ступіні</td>
        </tr>
        <tr>
            <td>3017</td>
            <td>2^-15</td>
            <td>ДваУМінус15Ступіні</td>
        </tr>
        <tr>
            <td>3020</td>
            <td>2^-27</td>
            <td>ДваУМінус27Ступіні</td>
        </tr>
        <tr>
            <td>3021</td>
            <td>2^-39</td>
            <td>ДваУМінус39Ступіні</td>
        </tr>
        <tr>
            <td>3025</td>
            <td>-15/16</td>
            <td>Мінус15_16их</td>
        </tr>
        <tr>
            <td>3026</td>
            <td>-0</td>
            <td>МінусНуль</td>
        </tr>
        <tr>
            <td>3035</td>
            <td>Машинна одиниця 1-2^-40</td>
            <td>МашиннаОдиниця</td>
        </tr>
        <tr>
            <td>3036</td>
            <td>-(1-2^-40)</td>
            <td>МінусМашиннаОдиниця</td>
        </tr>
        <tr>
            <td>3037</td>
            <td>lg2</td>
            <td>Log10_2</td>
        </tr>
        <tr>
            <td>3040</td>
            <td>2^-12</td>
            <td>ДваУМінус12Ступіні</td>
        </tr>
        <tr>
            <td>3041</td>
            <td>2^-24</td>
            <td>ДваУМінус24Ступіні</td>
        </tr>
        <tr>
            <td>3042</td>
            <td>2^-1</td>
            <td>ДваУМінус1Ступіні</td>
        </tr>
        <tr>
            <td>3043</td>
            <td>2^-2</td>
            <td>ДваУМінус2Ступіні</td>
        </tr>
        <tr>
            <td>3044</td>
            <td>2^-3</td>
            <td>ДваУМінус3Ступіні</td>
        </tr>
        <tr>
            <td>3045</td>
            <td>2^-4</td>
            <td>ДваУМінус4Ступіні</td>
        </tr>
        <tr>
            <td>3046</td>
            <td>2^-6</td>
            <td>ДваУМінус6Ступіні</td>
        </tr>
        <tr>
            <td>3047</td>
            <td>2^-36</td>
            <td>ДваУМінус36Ступіні</td>
        </tr>
        <tr>
            <td>3050</td>
            <td>10/16</td>
            <td>Плюс10_16их</td>
        </tr>
        <tr>
            <td>3051</td>
            <td>ln2</td>
            <td>Ln2</td>
        </tr>
        <tr>
            <td>3052</td>
            <td>0,1</td>
            <td>ОднаДесята</td>
        </tr>
        <tr>
            <td>3053</td>
            <td>0,01</td>
            <td>ОднаСота</td>
        </tr>
        <tr>
            <td>3054</td>
            <td>0,001</td>
            <td>ОднаТисячна</td>
        </tr>
        <tr>
            <td>3055</td>
            <td>0,2</td>
            <td>ДвіДесятих</td>
        </tr>
        <tr>
            <td>3056</td>
            <td>0,3</td>
            <td>ТриДесятих</td>
        </tr>
        <tr>
            <td>3057</td>
            <td>0,8</td>
            <td>ВісімДесятих</td>
        </tr>
        <tr>
            <td>3060</td>
            <td>0,002</td>
            <td>ДвіТисячних</td>
        </tr>
        <tr>
            <td>3061</td>
            <td>0,16 = 4/25</td>
            <td>ШіснадцятьСотих</td>
        </tr>
        <tr>
            <td>3062</td>
            <td>0,32 = 4/25</td>
            <td>ТридьцятьДвіСотих</td>
        </tr>
        <tr>
            <td>3063</td>
            <td>1/π</td>
            <td>ОдиницяНаПі</td>
        </tr>
        <tr>
            <td>3064</td>
            <td>1/sqrt(π)</td>
            <td>ОдиницяНаКоріньІзПі</td>
        </tr>
        <tr>
            <td>3065</td>
            <td>1/e</td>
            <td>ОдиницяНаЕ</td>
        </tr>
        <tr>
            <td>3066</td>
            <td>π/4</td>
            <td>ПіНаЧотири</td>
        </tr>
        <tr>
            <td>3067</td>
            <td>2/π</td>
            <td>ДваНаПі</td>
        </tr>
        <tr>
            <td>3070</td>
            <td>sqrt(2)/2</td>
            <td>КоріньДвійкиНаДва</td>
        </tr>
        <tr>
            <td>3071</td>
            <td>1/sqrt(3)</td>
            <td>ОдинНаКоріньІзТрьох</td>
        </tr>
        <tr>
            <td>3072</td>
            <td>e/3</td>
            <td>ЕНаТри</td>
        </tr>
        <tr>
            <td>3073</td>
            <td>1/sqrt(2π)</td>
            <td>ОдинНаКоріньІзДваПі</td>
        </tr>
        <tr>
            <td>3074</td>
            <td>e/4</td>
            <td>ЕНаЧотири</td>
        </tr>
        <tr>
            <td>3075</td>
            <td>1/3</td>
            <td>ОднаТретя</td>
        </tr>
        <tr>
            <td>3076</td>
            <td>1/π^2</td>
            <td>ОдинНаПіКвадрат</td>
        </tr>
        <tr>
            <td>3077</td>
            <td>М = log10(е)</td>
            <td>Lg_E</td>
        </tr>
    </tbody>
</table>
