@page "/book-mistakes"
@using System.Globalization
@using static Kyiv.Конвертер
@inject МашинаКиїв Машина
<НазваСторінки>@Ресурси.СторінкаНеточності</НазваСторінки>

@if (CultureInfo.CurrentUICulture.Name == "uk-UA")
{
    <h3>Неточності у книзі</h3>

    <h4>ln(x)</h4>
    <p>Ця підпрограмма використовує адресу 2346 та 2040 які є не задокументованими розділами пам'яти.</p>

    <h4>1/4 * e(x)</h4>

    <p>Підпрограма використовувала значення із ячейки 3201 яке не було описано у книзі. Через аналіз коду я знайшов що це значення 2^-5</p>

    <h4>1/2 * sinX (-1 &lt;x &lt; 1)</h4>

    <p>Значення С5(ячейка 3174), С3(ячейка 3175) та С1(ячейка 3176) описані у кодах у книзі співпадають із значеннями у формулі.
    Значення С9(ячейка 3172) має закодоване значення 0.00007574209, С7(ячейка 3173) має закодоване значення -0.002336882795
    у той час як у формулі записано С9=0.000 079 742 095 і С7=-0.000 233 688 279</p>

    <p>Якщо брати закодовані значення то розрахунки йдуть із помилкою не більше 2^-28. Якщо ж брати числа із текстового описа формули, 
    то помилка розрахунків буде не більше 2^-13.</p>

    <h4>1/2 * sinX (-2π &lt;x &lt; 2π)</h4>
    <p>Ця підпрограма закінчується на адресі 2777 що остання у ППЗП</p>

}
else
{
    <h3>Inaccuracies in the book</h3>

    <h4>ln(x)</h4>
    <text>This routine uses addresses 2346 and 2040 which are undocumented memory locations.</text>

    <h4>1/4 * e(x)</h4>

    <p>The subroutine used a value from cell 3201 that was not described in the book. Through code analysis I found that the value was 2^-5</p>

    <h4>1/2 * sinX (-1 &lt;x &lt; 1)</h4>

    <p>
        The values ​​of C5(cell 3174), C3(cell 3175) and C1(cell 3176) described in the codes in the book match the values ​​in the formula.
        The value of C9(cell 3172) has a coded value of 0.00007574209, C7(cell 3173) has a coded value of -0.002336882795
        while the formula says C9=0.000 079 742 095 and C7=-0.000 233 688 279
    </p>

    <p>
        If we take the encoded values, the calculations are performed with an error of no more than 2^-28.
        If we take the numbers from the text description of the formula, the calculation error will be no more than 2^-13.
    </p>

    <h4>1/2 * sinX (-2π &lt;x &lt; 2π)</h4>
    <p>
        This subroutine ends at address 2777, which is the last address in the ROM.
    </p>

}
