@page "/book-mistakes"
@using static Kyiv.Конвертер
@inject МашинаКиїв Машина
<h3>Неточності у книзі</h3>

<h4>ln(x)</h4>
Ця підпрограмма використовує адресу 2346 та 2040 які є не задокументованими розділами пам'яти.

<h4>1/4 * e(x)</h4>

Підпрограма використовувала значення із ячейки 3201 яке не було описано у книзі. Через аналіз коду я знайшов що це значення 2^-5

<h4>1/2 * sinX (-1 &lt;x &lt; 1)</h4>

Значення С5(ячейка 3174), С3(ячейка 3175) та С1(ячейка 3176) описані у кодах у книзі співпадають із значеннями у формулі.
Значення С9(ячейка 3172) має закодоване значення 0.00007574209, С7(ячейка 3173) має закодоване значення -0.002336882795
у той час як у формулі записано С9=0.000 079 742 095 і С7=-0.000 233 688 279

Якщо брати закодовані значення то розрахунки йдуть із помилкою не більше 2^-28. Якщо ж брати числа із текстового описа формули, 
то помилка розрахунків буде не більше 2^-13.

<h4>1/2 * sinX (-2π &lt;x &lt; 2π)</h4>
Ця підпрограма закінчується на адресі 2777 що остання у ППЗП

@code {
}
