@page "/psd"
@implements IDisposable
@using static Kyiv.Конвертер
@inject МашинаКиїв Машина
<h3>Пассивний запапам'ятовуючий пристрій</h3>

<h4>Набірні коди</h4>
<EditForm EditContext="контекстРедагування" OnValidSubmit="Відправити" FormName="Головна">
    <РедакторВідділаПамяти БазоваАдреса="3000" КількістьРядків="1" />
</EditForm>

<h4>Константи</h4>
<ВідділПамяти БазоваАдреса="3010" КількістьРядків="7" />

<h4>Постійно-спаяна пам'ять (ПСП)</h4>
<ВідділПамяти БазоваАдреса="3100" КількістьРядків="16" />

<h4>Змінно-спаянна пам'ять (ЗСП)</h4>
<ВідділПамяти БазоваАдреса="3300" КількістьРядків="40" />


@code {
    private EditContext? контекстРедагування;

    private ValidationMessageStore? складПовідомлень;

    protected override void OnInitialized()
    {
        контекстРедагування = new(Машина);
        контекстРедагування.OnValidationRequested += ОбробитиВалідаціяЗапрошена;
        складПовідомлень = new(контекстРедагування);
    }

    private void ОбробитиВалідаціяЗапрошена(object? відправник, ValidationRequestedEventArgs арги)
    {
        складПовідомлень?.Clear();

        //if (Model!.Command.Any(_ => _ < '0' || _ > '7'))
        {
            //складПовідомлень?.Add(() => Model.Command, "Не 8-річне число.");
        }
    }

    private void Відправити()
    {
        //Logger.LogInformation("Submit called: Processing the form");
    }

    public void Dispose()
    {
        if (контекстРедагування is not null)
        {
            контекстРедагування.OnValidationRequested -= ОбробитиВалідаціяЗапрошена;
        }
    }
}
