@page "/psd"
@using static Kyiv.Конвертер
@inject МашинаКиїв Машина
<h3>Пассивний запапам'ятовуючий пристрій</h3>

<h4>Набірні коди</h4>
<ВідділПамяти БазоваАдреса="3000" КількістьРядків="1" />

<h4>Константи</h4>
<ВідділПамяти БазоваАдреса="3010" КількістьРядків="7" />

<h4>Постійно-спаяна пам'ять (ПСП)</h4>
<ВідділПамяти БазоваАдреса="3100" КількістьРядків="16" />

<h4>Змінно-спаянна пам'ять (ЗСП)</h4>
<ВідділПамяти БазоваАдреса="3300" КількістьРядків="40" />