@page "/about"
<НазваСторінки>@Ресурси.ПроПроект</НазваСторінки>
<h3>@Ресурси.ПроПроект</h3>

<p>
    <a href="https://yushchenko.infoua.net/publikaciyi.html" target="_blank">@Ресурси.ПроРозробникаЕОМ</a>
</p>

<p>
    <a href="https://files.infoua.net/yushchenko/Vychislitelnaya-mashyna-Kiev_VHlushkov_EYushchenko_1962.pdf" target="_blank">@Ресурси.ПроЕОМ</a>
</p>

<p>
    <a href="https://kant2002.github.io/" target="_blank">@Ресурси.ПроМене</a>
</p>

<p>
    <a href="https://github.com/kant2002/KyivMachine" target="_blank">GitHub</a>
</p>
