@page "/about"
<h3>Про проект</h3>

<p>
    <a href="https://yushchenko.infoua.net/publikaciyi.html" target="_blank">Про розробника ЕОМ</a>
</p>

<p>
    <a href="https://files.infoua.net/yushchenko/Vychislitelnaya-mashyna-Kiev_VHlushkov_EYushchenko_1962.pdf" target="_blank">Про ЕОМ</a>
</p>

<p>
    <a href="https://kant2002.github.io/" target="_blank">Про мене</a>
</p>

<p>
    <a href="https://github.com/kant2002/KyivMachine" target="_blank">GitHub</a>
</p>
